@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100vw;
  max-width:100%;
  height:100vh;
  /*background:url('https://images.unsplash.com/photo-1511227499331-25c621db940e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e7e55bd948e728345b7ed558d550053&auto=format&fit=crop&w=1400&q=80');
  background-size:cover;
  background-position:50% 50%;*/
}

body {
  font-family:'Quicksand';
  background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:0;
}

h1 {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Quicksand';
  font-size:50;
}

p {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Quicksand';
    font-size:20;
}

li {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Quicksand';
}