/*@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Monoton|Yellowtail');*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100vw;
  max-width:100%;
  height:100vh;
  /*background:url('https://images.unsplash.com/photo-1511227499331-25c621db940e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e7e55bd948e728345b7ed558d550053&auto=format&fit=crop&w=1400&q=80');
  background-size:cover;
  background-position:50% 50%;*/
}

body {
  font-family:'Quicksand';
  background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
  margin:0;
}

.menu {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:space-around;
  position:sticky;
  transition:opacity 0.5s;
  z-index:1;
  font-size:30;
}

.menu li {
  padding:30px;
  list-style: none;
}

.menu li a {
  color:white;
  text-decoration:none;
  font-weight:900;
}

.line {
  display:flex;
  position:relative;
  z-index:3;
}

.center {
  margin-top:4%;
  text-align: center;
  z-index:-1;
  font-size:40;
  color:white;
}

.centerparagraph {
  margin-left:500;
  margin-right:500;
  text-align: center;
  z-index:-2;
  font-size:30;
  color:white;
}

.listgames {
  text-align: center;
  z-index:-3;
  font-size:30;
  color:white;
  display:inline
}

footer {
  text-align: center;
  color:white
}