@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:80%;
  height:100vh;
  flex-wrap: wrap;
  /*background:url('https://images.unsplash.com/photo-1511227499331-25c621db940e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e7e55bd948e728345b7ed558d550053&auto=format&fit=crop&w=1400&q=80');
  background-size:cover;
  background-position:50% 50%;*/
}

body {
  font-family:'Quicksand';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
  margin:0;
  padding:0;
}

.menu {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:space-around;
  position:sticky;
  transition:opacity 0.5s;
  z-index:1;
  font-size:30;
}

.menu li {
  padding:30px;
  list-style: none;
}

.menu li a {
  color:white;
  text-decoration:none;
  font-weight:900;
}

.line {
  display:flex;
  position:relative;
  z-index:3;
}

.Satchel {
  font-size:45;
  display:flex;
  color:white;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

p {
  color:white;
  display:flex;
  justify-content:center;
  font-size:30;
  flex-direction:column;
  align-items:center;
  margin-right: 50px;
  margin-left: 50px;
}