@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:80%;
  height:100vh;
  flex-wrap: wrap;
  /*background:url('https://images.unsplash.com/photo-1511227499331-25c621db940e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e7e55bd948e728345b7ed558d550053&auto=format&fit=crop&w=1400&q=80');
  background-size:cover;
  background-position:50% 50%;*/
}

body {
  font-family:'Quicksand';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  positio:sticky;
  background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
  margin:0;
  padding:0;
  font-weight:900;
}

.menu {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:space-around;
  position:sticky;
  transition:opacity 0.5s;
  z-index:1;
  font-size:30;
}

.menu li {
  padding:30px;
  list-style: none;
}

.menu li a {
  color:white;
  text-decoration:none;
  font-weight:900;
}

.line {
  display:flex;
  position:relative;
  z-index:3;
}

.Satchel {
  font-size:45;
  display:flex;
  color:white;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

p {
  color:white;
  display:flex;
  justify-content:center;
  font-size:30;
  flex-direction:column;
  align-items:center;
  margin-right: 50px;
  margin-left: 50px;
  font-weight:900;
}

button {
  background-image: linear-gradient(30deg, #ffa27a, #B9DEDB);
  display:flex;
  justify-content:center;
  flex-direction:column;
  padding: 12px 25px;
  align-items:center;
  border: none;
  border-radius: 12px;
  color:white;
  font-size: 25px;
  transition-duration: 0.4s;
  font-family:'Quicksand';
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin-top:-5px;
}

button:hover {
  background-image: linear-gradient(75deg, #ffa27a, #B9DEDB);
  box-shadow:none;
}

.centerdiv {
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

.features {
  font-size:28;
  font-family:'Quicksand';
  display:flex;
  color:white;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  margin-top:-15;
  font-weight:900;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}